.maincontainer{
  margin:30px;
hr{
  margin:10px 0 15px 0;
}
  h3{
    font-size: 30px;
    font-weight: bold;
  }
}

.general{
  background-color: white;
  margin-bottom: 15px;
  border-radius: 5px;
  padding:20px 30px;
  border:1px solid #e0dfdf;
}
.title{
  padding:20px 0;
  margin-top:10px;
  h2{font-size: 40px;
    font-family: Calibre_Bold;
    text-align: center;}

  .title_alert{
    padding:15px;
    border: .0625rem solid #efc100;
    background-color: #fcf3cc;
  }
}



.shipInfo{
  padding-bottom: 50px;
}

.logIn_controller{
  font-size: 19px;
  cursor: pointer;
}
.logIn_input{
  display:flex;
  justify-content: space-between;
  div{
    width:45%;
  }
}
.register{
  margin-bottom: 0;
}
.remember{
  display: flex;

}
.label{
  margin-bottom: 0;
}
.rightPart{
  padding:15px;
}
.dataInCheckout{
  padding:0 10px;
  display:flex;
  height:100px;
  width:100%;
  justify-content: space-between;
  h6{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    margin:0;
    padding:0;
  }
  img{
    width:70px;
    height:85px;
  }
  p{
    font-size:17px;
    line-height: 20px;
    margin:0;
    padding:0;
    font-family: Calibre_Light;
  }
  .productInfo{
    display:flex;
    flex-direction: column;
    .price{
      display:flex;
      justify-content: space-between;
    }
  }
}
.flexBox{
  display:flex;
  justify-content: space-between;
  margin-bottom: 0;
padding: 0 15px;
}
.topBox{
  line-height: 15px;
  font-size: 20px;
}
.checkoutBtn{
  //display:flex;
  //justify-content: flex-end;
  //align-items: center;
  text-align: right;
  button{
    width:40%;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
      position:absolute;
      right:0;

  }
  p{
    font-size: 20px;
    margin-bottom: 0;

  }
}