//ul{
//  display:flex;
//}
//li{
//  margin:20px;
//}
//li::after {
//  content: '';
//  display: block;
//  width: 0;
//  height: 3px;
//  background: red;
//  transition: width .3s;
//}
//
//li:hover::after {
//  width: 30px;
//}
.headerTotal{
  margin: 0;
  box-sizing: border-box;
  font-family: Calibre;
  font-size: 14px;
  color: black;
  font-weight: bold;
  width: 100%;
  padding: 0;
  background-color: white;
  margin-bottom: 0;
  a {
    text-decoration: none;
    color: black;
  }
  li {
    list-style-type: none;
  }
}
.Wrapper {
  width: 100%;
  // margin:0 auto;
  position: relative;
}
.Top {
  position: relative;
  margin-top: 5px;
  font-family:Calibre_Light;
}
.Top span {
  //text-align: center;
  margin-left: 400px;
  margin-right: 4px;
  
}
.Top a {
  text-decoration: underline black;
}
.Close {
  width: 16px;
  position: absolute;
  right: 0;
  top:0
}
.Middle {
  background-color: #fafafa;
  .Wrapper{
    height: 34px;
  }
}
.ShortCut {
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  line-height: 34px;
  width: 40%;
  font-family:Calibre_Light;
  li {
    text-align: center;
  }
  a{
    span{
      margin-left: 10px;
    }
  }
  a:hover{
    cursor: pointer;
    span {
      border-bottom: 1px solid red;
    }
  }
  .Store {
    margin-right: 10px;
  }

}
.SpecialFont {
  width: 14px;
}
.NavBar {
  height: 76px;
}
.Container {
  position: relative;
  display: flex;
  .Right_Size {
    position: absolute;
    display: flex;
    right:5px;
    width: 315px;
    flex-basis: 0;
    align-items: center;
    .Search {
      position: relative;
      display: flex;
      .Find {
        position: absolute;
        // left: -130px;
        top: 40px;
        margin-left: 10px;
      }
      .null {
        margin-top: 22px;
        width: 40px;
        height: 50px;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        border-bottom-left-radius: 0.25rem;
        border-top-left-radius: 0.25rem;
      }
      input {
        width: 224px;
        height: 50px;
        margin-top: 22px;
        margin-right: 34px;
        border: 1px solid black;
        border-left: none;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        font-size: 20px;

        &::placeholder{
          font-size: 20px;
          //padding-top: 20px;
        }
        &:focus{
          outline: none;
        }
      }
      .Close {
        position: absolute;
        top: 38px;
        right: 42px;
        font-size: 20px;
      }


    }

    .Shopping {
      //margin-top: 30px;
      //flex-basis: 0;
      font-size: 20px;
    }
    span{
      //flex-basis: 0;
      font-size: 16px;
      //line-height: 76px;
    }
  }
  .GuessWhatLike {
    position: absolute;
    width: 264px;
    height: 316px;
    right: 100px;
    top: 80px;
    ul {
      padding: 17px;
      li {
        margin-bottom: 25px;
        font-size: 20px;
        a:hover{
          cursor: pointer;
          border-bottom: 1px solid red;
        }
      }
      .Trending_Searches{
        margin-top: 0px;
        margin-bottom: 33px;
      }
    }
  }
}
.Logo {
  width: 34px;
  height: 34px;
  img {
    object-fit: contain;
    width: 34px;
    height: 34px;
    margin-top: 22px;
  }
}
.Classification {
  margin-top: 30px;
  margin-left: 50px;
  width: 41%;
  ul {
    display: flex;
    justify-content: space-around;
    li {
      flex-basis: 0;
    }
    a{
      font-family: Calibre_Bold;
      font-size: 18px;
      text-decoration: none;
    }
    a:hover{
      cursor: pointer;
      border-bottom: 3px solid red;
      color:black;
    }
    .Gifts {
      color: red;
    }
    .Gifts:hover {
      border-bottom: 3px solid #af8e3c;
    }
  }
}
.Disappear {
  display: none;
}

.DetailForWomen{
  padding-top: 20px;
  .Wrapper{
    display: flex;
    padding-left: 98px;
    .left_size{
      width: 184px;
      height: 370px;
      border-right: 1px solid #d5d5d5;
      ul{
        display: inline-flex;
        flex-direction: column;
        li{
          margin-bottom: 17px;
          a{
            //display: block;
            font-size: 16px;

            &:hover{
              border-bottom: 2px solid red;
            }
          }
        }
      }


    }
    .middle_size{
      display: flex;
      width: 710px;
      height: 324px;
      padding-left: 40px;
      .m_left_size{
        ul{
          li{
            margin-bottom: 17px;
            a{
              font-size: 16px;

              &:hover{
                border-bottom: 2px solid red;
              }
            }
          }
        }

        .Title{
          font-family: Calibre_Bold;
          &:hover{
            border-bottom: none;
          }
        }

      }
      .m_middle_size{
        padding-top: 37px;
        ul{
          li{
            margin-bottom: 17px;
            a{
              font-size: 16px;
              &:hover{
                border-bottom: 2px solid red;
              }
            }
          }

        }

      }
      .m_right_size{
        ul{
          li{
            margin-bottom: 17px;
            a{
              font-size: 16px;
              &:hover{
                border-bottom: 2px solid red;
              }
            }
          }
        }
        .Title{
          font-family: Calibre_Bold;
          &:hover{
            border-bottom: none;
          }
        }
      }
    }
    .right_size{
      width: 338px;
      height: 324px;
      h2{
        font-family: Calibre_Bold;
        font-size: 20px;
        font-weight: bolder;
      }
      .line-2-title{
        margin-bottom: 10px;
      }
      p{
        font-size: 16px;
      }
      .line-2-intro{
        margin-bottom: 10px;
      }
      a{
        font-family: Calibre_Bold;
      }
    }
  }
  .bottom{
    display: flex;
    justify-content: space-between;
    height: 52px;
    background-color: #fafafa;
    .left_size{
      width:20%;
      span{
        font-size: 15px;
        line-height: 54px;
        padding-left:130px;
    
      }
    }
    .middle_size{
      margin-left: -95px;
      width:60%;
      ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        line-height: 52px;
        font-size: 18px;
        // background-color: red;
        li{
          a:hover{
            border-bottom: 1px solid red;
          }
        }
      }
    }
    .right_size{
      line-height: 52px;
      text-align: center;
    }
  }
}

.DetailForMen{
  padding-top: 20px;
  .Wrapper{
    display: flex;
    padding-left: 98px;
    .left_size{
      width: 210px;
      height: 370px;
      border-right: 1px solid #d5d5d5;
      ul{
        display: inline-flex;
        flex-direction: column;
        li{
          margin-bottom: 17px;
          a{
            //display: block;
            font-size: 16px;

            &:hover{
              border-bottom: 2px solid red;
            }
          }
        }
      }


    }
    .middle_size{
      display: flex;
      width: 710px;
      height: 324px;
      padding-left: 40px;
      .m_left_size{
        margin-right: 20px;
        ul{
          li{
            margin-bottom: 17px;
            a{
              font-size: 16px;

              &:hover{
                border-bottom: 2px solid red;
              }
            }
          }
        }

        .Title{
          font-family: Calibre_Bold;
          &:hover{
            border-bottom: none;
          }
        }

      }
      .m_middle_size{
        padding-top: 37px;
        margin-right: 20px;
        ul{
          li{
            margin-bottom: 17px;
            a{
              font-size: 16px;
              &:hover{
                border-bottom: 2px solid red;
              }
            }
          }

        }

      }
      .m_right_size{
        ul{
          li{
            margin-bottom: 17px;
            a{
              font-size: 16px;
              &:hover{
                border-bottom: 2px solid red;
              }
            }
          }
        }
        .Title{
          font-family: Calibre_Bold;
          &:hover{
            border-bottom: none;
          }
        }
      }
    }
    .right_size{
      width: 338px;
      height: 324px;
      padding-left: 15px;
      h2{
        font-family: Calibre_Bold;
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 0;
      }
      .line-2-title{
        margin-bottom: 0px;
      }
      p{
        font-size: 16px;
        margin-bottom: 0;
      }
      a{
        font-size: 15px;
        font-family: Calibre_Bold;
      }
    }
  }
  .bottom{
    display: flex;
    justify-content: space-between;
    height: 52px;
    background-color: #fafafa;
    .left_size{
      width:20%;
      span{
        font-size: 15px;
        line-height: 54px;
        padding-left:130px;

      }
    }
    .middle_size{
      margin-left: -95px;
      width:60%;
      ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        line-height: 52px;
        font-size: 18px;
        // background-color: red;
        li{
          a:hover{
            border-bottom: 1px solid red;
          }
        }
      }
    }
    .right_size{
      line-height: 52px;
      text-align: center;
    }
  }
}

.DetailForAccessories{
  padding-top: 20px;
  .Wrapper{
    display: flex;
    padding-left: 98px;
    .left_size{
      width: 210px;
      height: 370px;
      border-right: 1px solid #d5d5d5;
      ul{
        display: inline-flex;
        flex-direction: column;
        li{
          margin-bottom: 17px;
          a{
            //display: block;
            font-size: 16px;

            &:hover{
              border-bottom: 2px solid red;
            }
          }
        }
      }


    }
    .middle_size{
      display: flex;
      width: 710px;
      height: 324px;
      padding-left: 40px;
      .m_left_size{
        margin-right: 50px;
        ul{
          li{
            margin-bottom: 17px;
            a{
              font-size: 16px;

              &:hover{
                border-bottom: 2px solid red;
              }
            }
          }
        }

        .Title{
          font-family: Calibre_Bold;
          &:hover{
            border-bottom: none;
          }
        }

      }
      .m_middle_size{
        padding-top: 37px;
        margin-right: 20px;
        ul{
          li{
            margin-bottom: 17px;
            a{
              font-size: 16px;
              &:hover{
                border-bottom: 2px solid red;
              }
            }
          }

        }

      }
      .m_right_size{
        ul{
          li{
            margin-bottom: 17px;
            a{
              font-size: 16px;
              &:hover{
                border-bottom: 2px solid red;
              }
            }
          }
        }
        .Title{
          font-family: Calibre_Bold;
          &:hover{
            border-bottom: none;
          }
        }
      }
    }
    .right_size{
      width: 338px;
      height: 324px;
      padding-left: 15px;
      h2{
        font-family: Calibre_Bold;
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 0;
      }
      .line-2-title{
        margin-bottom: 0px;
      }
      p{
        font-size: 16px;
        margin-bottom: 0;
      }
      a{
        font-size: 15px;
        font-family: Calibre_Bold;
      }
    }
  }
  .bottom{
    display: flex;
    justify-content: space-between;
    height: 52px;
    background-color: #fafafa;
    margin-top: 20px;
    .left_size{
      width:20%;
      span{
        font-size: 15px;
        line-height: 54px;
        padding-left:130px;

      }
    }
    .middle_size{
      margin-left: -90px;
      width:60%;
      ul{
        display: flex;
        margin-left: 30px;
        width: 100%;
        line-height: 52px;
        font-size: 18px;
        // background-color: red;
        li{
          margin-right: 60px;
          a:hover{
            border-bottom: 1px solid red;
          }
        }
      }
    }
    .right_size{
      line-height: 52px;
      text-align: center;
    }
  }
}

.DetailForGifts{
  padding-top: 20px;
  .Wrapper{
    display: flex;
    padding-left: 98px;
    .left_size{
      width: 210px;
      height: 370px;
      border-right: 1px solid #d5d5d5;
      ul{
        display: inline-flex;
        flex-direction: column;
        li{
          margin-bottom: 17px;
          a{
            //display: block;
            font-size: 16px;

            &:hover{
              border-bottom: 2px solid red;
            }
          }
        }
      }


    }
    .middle_size{
      display: flex;
      width: 710px;
      height: 324px;
      padding-left: 40px;
      .m_left_size{
        margin-right: 20px;
        ul{
          li{
            margin-bottom: 17px;
            a{
              font-size: 16px;

              &:hover{
                border-bottom: 2px solid red;
              }
            }
          }
        }

        .Title{
          font-family: Calibre_Bold;
          &:hover{
            border-bottom: none;
          }
        }

      }
      .m_middle_size{
        padding-top: 37px;
        margin-right: 20px;
        ul{
          li{
            margin-bottom: 17px;
            a{
              font-size: 16px;
              &:hover{
                border-bottom: 2px solid red;
              }
            }
          }

        }

      }
      .m_right_size{
        ul{
          li{
            margin-bottom: 17px;
            a{
              font-size: 16px;
              &:hover{
                border-bottom: 2px solid red;
              }
            }
          }
        }
        .Title{
          font-family: Calibre_Bold;
          &:hover{
            border-bottom: none;
          }
        }
      }
    }
    .right_size{
      width: 338px;
      height: 324px;
      padding-left: 15px;
      h2{
        font-family: Calibre_Bold;
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 0;
      }
      .line-2-title{
        margin-bottom: 0px;
      }
      p{
        font-size: 16px;
        margin-bottom: 0;
      }
      a{
        font-size: 15px;
        font-family: Calibre_Bold;
      }
    }
  }
  .bottom{
    display: flex;
    justify-content: space-between;
    height: 52px;
    background-color: #fafafa;
    .left_size{
      width:20%;
      span{
        font-size: 15px;
        line-height: 54px;
        padding-left:130px;

      }
    }
    .middle_size{
      margin-left: -95px;
      width:60%;
      ul{
        display: flex;
        //justify-content: space-between;
        width: 100%;
        line-height: 52px;
        font-size: 18px;
        // background-color: red;
        li{
          margin-right: 60px;
          a:hover{
            border-bottom: 1px solid red;
          }
        }
      }
    }
    .right_size{
      line-height: 52px;
      text-align: center;
    }
  }
 
}
.burgerMenu{
  display:none;
}
.menuCloseBtn{
  display:none;
}

.LogoInside{
display:none;
}
.nextBtn{
  display:none; 
}
.dropbtn {
  color: white;
  padding: 8px 0 2px 0;
  font-size: 16px;
  border: none;
  display:flex;
  align-items: center;
  justify-content: center;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-top: 8px;
  display: none;
  position: absolute;
  right:0;
  background-color: white;
  min-width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 99;
  padding:20px;
  h3{
    font-size: 30px;
    font-weight: bold;
  }
  img{
    margin-right: 15px;
    width:70px;
    height:85px;
    border-radius: 3px;
  }
  .dataInCheckout{
    display:flex;
    height:100px;
    .productInfo{
      width:98%;
      display:flex;
      flex-direction: column;
      .price{
        display:flex;
        justify-content: space-between;
      }
    }}

}
.dropdown-content:after{
  content:''; /* Required to display content */
  position: absolute; /* Sets the position absolute to the top div */
  top: 0;
  left: 95%;/* position the little arrow */
  margin-left: -15px;
  margin-top:-15px; /* Set margin equal to border px */
  width: 0;
  z-index:1;
  height: 0;
  border-bottom: solid 15px #FFF; /* Creates the arrow pointing up, to change to a notch instead user border-top */
  border-left: solid 15px transparent; /* Creates triangle effect */
  border-right: solid 15px transparent; /* Creates triangle effect */
}



/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}




@media only screen and (max-width:900px) {
  .headerTotal{
    position:relative;
 .ShortCut{
  right:9%;

  li{
    margin:0 15px;
  }
 } 
.burgerMenu{
display:block;
position:absolute;
right:20px;
background-color: transparent;
border:none;
font-size:20px;
transform:translateY(10%);
}
  .Store span{
    display:none;
  }
.Classification{
  
  transform: translateX(-250%);
  
  }
  .no_Classification{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:99;
    background-color: white;
    ul{
      display:flex;
      flex-direction: column;
      width:100%;
      z-index:100;
      margin-top:20px;
      li{
        border-bottom: solid 1px lightgray;
        width:100%;
        font-family: Calibre_Bold;
        font-size:20px;
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        li:hover{
        color:black;
        }
      }}
     

  }
}
.menuCloseBtn{
  display:block;
  position:absolute;
  right:20px;
 top:20px;
background-color: transparent;
border:none;
font-size:20px;

}
.LogoInside{
  display:flex;
  justify-content: space-between;
  // align-items: center;
  // flex-direction: row;
  border-bottom: 1px solid lightgray;
  padding:20px;
  img {
    object-fit: contain;
    width: 34px;
    height: 34px;
    margin-left:10px;
  }

}
.Container{
.Right_Size{
  width: 70%;
  right:100px;
.Search{
 input{
  width:600px;
}}}

}
.nextBtn{
  display:block;
}
}

