.Product{
  margin-bottom:20px;
  padding:10px;
.Product_Top{
  display:flex;
  justify-content: space-between;
  margin-bottom: 30px;
  .top_Left{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:48%;
    height:100%;
    position:sticky;
    top:0;
    .list_Picture{
      width:100%;
      cursor:zoom-in;
    }
    .carousel_Container{
      display:flex;
      .swatchPic_Container{
        img {
          width: 36px;
          height: 36px;
          margin: 15px 6px;
          border-radius: 4px;
        }
      }
    }
  }
  .top_Middle{
    padding-left: 20px;
    width:35%;
    .productPrice{
      font-size: 21px;
      font-family: Calibre_Light;
      margin-bottom: 10px;
    }
    h1{
      font-size:36px;
      font-weight: bold;
      margin-top: 25px;
    }
    .sizes{
      h3{
        margin-top:20px ;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 4px;
      }
      .all_Sizes{
        display: flex;
        flex-wrap: wrap;

        .size{
          min-width: 36px;
          height: 36px;
          border: 1px solid #d2d0d0;
          font-size: 19px;
          line-height: 36px;
          text-align: center;
          margin: 0 4px 10px 4px;
          border-radius: 4px;
          padding:4px;
          &:hover{
            cursor: pointer;
          }
        }
        .size_Checked {
          color: white;
          background-color: black;
        }
      }
    }
    .btnsContainer{
      .tIcon{
        width:20px;
        height:20px;
        padding-top:5px;
        padding-left: 5px;
        padding-right: 5px;
        background: red;
        color:white;
        font-weight: bolder;
        font-size: 16px;
        border-radius: 3px;
        margin-right:6px;
      }
    }
  }
  .top_Right{
    width:12%;
    align-items: flex-end;
    display:flex;
    flex-direction: column;
    div{
      margin-top:10px;
      max-width: 100px;
    }
    img{
      width:87px;
      height:105px;

    }
    h5{
      margin-top:20px;
      font-family: Calibre_Bold;
    }
    p{
      font-family: Calibre_Light;
      line-height: 18px;
    }
  }
}
.SwatchesCarousel{
  display: flex;
  flex-direction: row;
  width:100%;
  margin-bottom:20px ;
  //max-width:350px;
flex-wrap: wrap;
  align-items:center;
  .swatch_container {
    width: 36px;
    height: 36px;
    padding: 2px;
    border-radius: 50%;
    display: flex;
    margin:0 6px;
    align-items: center;
    justify-content: center;
    border:2px solid transparent;
  }}
    .swatchPic {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      z-index: 10;
      border:none;
    }
    .swatch_container_border{
      border:2px solid black;
      border-radius: 50%;
      padding:2px;
      margin:0 6px;
    }

  



.breadcrumb-item{
  span{
  border-bottom: 1px solid lightgray;
  font-weight: bold;}}

.Left_Right_Arrow {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 90%;
  top: 50%;
  left: 4%;

}
  .arrow{
    background-color: rgba(255, 255, 255, 0.7);
    width:50px;
    height:50px;
    border-radius: 5px;
    font-weight: lighter;
  }
.Product_img {
  position: relative;
  .glass{
    position:absolute;
    right:4%;
    bottom:3%;
    display:flex;
    align-items: center;
    justify-content: center;
    .glasses{
      font-size:30px;

    }
  }
}

.Ship_it_to_me{
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #afafaf;
  border-radius: 5px 5px 0 0;
  &:hover{
    cursor: pointer;
  }
  .circle{
    margin:0 10px;
    color:red;
  }
  .title{
  display:flex;
    align-items: center;
    padding:0;
    h3{
      margin: 0;
      font-size: 24px;
    }
  }
  p{
    margin:0 35px;
    font-family: Calibre_Light;
  }
}
.choose_ship_it_to_me{
  border: 2px solid black;
  .title{
    h3{
      font-weight: bolder;

    }
  }
}

.Pick_up_in_store{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  border: 1px solid #afafaf;
  background-color: #e3e3e3;
  cursor: pointer;
  .Shop{
    display:flex;
    white-space: nowrap;
    margin-left: 10px;
    h3{
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 0px;
      margin-left: 10px;
    }

  }
  .plus{
    margin-right: 10px;
  }

}
.choose_pick_up_in_store{
  border: 2px solid black;
  .title{
    h3{
      font-weight: bolder;
    }
  }
}
  .addToBag_boss{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    border: 1px solid #afafaf;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
.Add_To_Bag{
  width: 400px;
  height: 50px;
  background-color: #d31334;
  span{
    color: white;
    font-family: Calibre_Bold;
    font-size: 20px;
    line-height: 50px;
  }
  &:hover{
    cursor: pointer;
  }
}}

.options{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  .wish_list{
    &:hover{
      cursor: pointer;
    }
    span{
      border-bottom: 1px solid grey;
      &:hover{
        border-bottom: 1px solid red;
      }
    }
  }
  .reviews{
    &:hover{
      cursor: pointer;
    }
    span{
      border-bottom: 1px solid grey;
      &:hover{
        border-bottom: 1px solid red;
      }
    }
  }
}
.details{
  margin-top: 30px;
  h3{
    font-size: 19px;
    font-weight: bold;
  }
  .details_information{
    font-weight: bolder;
    margin-bottom: 10px;
    img{
      margin-right: 10px;
    }
    span{
      font-size: 18px;
      border-bottom: 1px solid grey;
      &:hover{
        cursor: pointer;
        border-bottom: 1px solid red;
      }
    }
  }
}

.Product_Mid{
  .Product_Mid_top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    h1{
      font-size:100px;
      font-weight: bold;
      line-height: 90px;
      &:after{
        color: rgb(210, 32, 48);
        content: "—";
        display: block;
        font-size: 2.5rem;
        line-height: 1.875rem;
        width: 1.5rem;
      }
    }
    p{font-size:19px;}
    img{
      width:32%;
      object-fit: cover;
    }
  }
      .alsoLike{
        margin-bottom: 40px;
          h2{
            text-align: center;
            font-weight: bolder;
            font-size:48px;
            font-family: Calibre_Bold;
          }
        .relatePic_container{
          display:flex;
          justify-content: space-between;
          img{
            max-width:300px;
            object-fit: cover;
            //margin:2px 20px;
          }
          p{
            font-size:20px;
            margin-top:10px;
            width:90%;
            margin-bottom: 80px;
          }
        }
        }

        .Product_Mid_mid{
          width:105%;
          transform: translateX(-20px);
          margin:20px auto;
          padding:30px;
      background-color: white;
          .feature_Container{
            display:flex;
            justify-content: space-between;
            margin:30px 0;
            .feature_Container_icon{
              display:flex;
              img{
                height:40px;
                margin-right: 15px;
              }
              h2{
                font-size:40px;
                font-family: Calibre_Bold;
              }
            }
          }
          .lines{
            position:relative;
            right:20px;
            cursor: pointer;
            .line1{
              position:absolute;
              right:0;
              //width:16px;
              //height:2px;
              //background-color: black;
            }
            .line2{
              position:absolute;
              right:0;
            }
            .rotate{
              //transform: rotate(0deg);
              animation:rotation 0.3s linear;
              animation-fill-mode: forwards;
            }
            @keyframes rotation{
              from{transform: rotate(90deg);}
              to{transform:rotate(0deg)}
            }
            .rotateBack{
              //transform: rotate(90deg);
              animation:spin 0.3s linear;
              animation-fill-mode: forwards;
            }
            @keyframes spin{
              from{transform: rotate(0deg);}
              to{transform:rotate(90deg)}
            }
          }
        }
      
      
      }}


